* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.left-section {
    flex: 1;
    background-image: url("Background.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.logo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 350px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.left-section p {
    font-size: 16px;
    line-height: 1.6;
}

.right-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    visibility: hidden;
}

.submit-btn {
    background-color: #556b2f;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.submit-btn:hover {
    background-color: #6b8e23;
}

p {
    margin-top: 20px;
}

p a {
    color: #556b2f;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
